@charset "UTF-8";

html{
    font-family:  sans-serif; 
}

html * {
    box-sizing: border-box;
}

body{
    margin:0;                       
    background-color: #08530e;
}
.poker{
    margin:0;                       
    background-color: #080436;
}


.poker_img{
    float: right;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

.gameLink{
    background-color: #d2daa8;
    width: 800px;
    padding: 50px 15px;
}

.gameLink a{
    color: rgb(226, 138, 138);
    margin-left: 30px;
    font-size: 40px;
}

.bjwrapper{
    background-color: #c3b81c;
    margin:0 auto;          
    max-width: 800px;       
    border:1px solid rgb(248, 244, 244);
}

.Pwrapper{
    background-color: #b4bb8b;
    margin:0 auto;          
    max-width: 800px;       
    border:3px solid rgb(110, 102, 102);
}

.bjwrapper p{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 18px;
}

.bjwrapper button{
    font-size: 18px;
    margin-left: 40px;
    width: 150px;
    height: 50px;
}

.Pwrapper h1,.Pwrapper p,.Pwrapper button,.Pwrapper a,.Pwrapper h2{
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
    
    text-shadow: 1px 1px 2px silver;
    /*文字を太字にするとよりそれらしくなります*/
    font-weight: bold;
}

.Pwrapper button{
    float: left;
    margin-left: 40px;
    width: 100px;
    height: 50px;
}

/*
.poker h2, .poker input{
    float: left;
}*/

.poker h2{
    text-align:center;
    line-height:inherit;
    width:160px;
    height: 45px;
    margin-left: 80px;
    font-size : 28px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #1d0202;
    color: rgba(255, 51, 0, 0.767);
    border: lightblue;
    border-style:groove;
}

.poker input{
    width:100px;
    height: 46px;
    margin-left: 30px;
    font-size : 26px;
    background-color: #1a0402;
    color: rgba(255, 51, 0, 0.767);
}

h1{
    font-size: 50px;
    font-family:serif ;

}
span{
    color:#a70a0a;
}

img{
    margin-left:10px;
    
    }
/*　カード画像の影の装飾がうまくいかない
.poker,img{
    box-shadow: 15px 15px 0px 0 rgb(94, 95, 25);
}

*/

.MSwrapper{
    background-color: #b4bb8b;
}

.field{
    font-size: large;
    width: 10px;
    height: 30px;
}